apiVersion: v1
kind: ServiceAccount
metadata:
  # Note: Only creating ServiceAccount here, not required to create new Role or RoleBinding
  # TODO: Set defaults for case no custom values are being supplied from the TES Task Tags
  name: {{`{{.ServiceAccountName}}`}}
  namespace: {{`{{.Namespace}}`}}
  labels:
    app: funnel
    taskId: {{`{{.TaskId}}`}}
  annotations:
    # set this with value of OIDC_IAM_ROLE
    eks.amazonaws.com/role-arn: {{`{{.IamRoleArn}}`}}
spec:
  # TODO: Should tokens be automatically mounted into pods?
  automountServiceAccountToken: false
